@import url('https://fonts.googleapis.com/css2?family=Dosis:wght@500&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Dosis', sans-serif;
}

body{
    background-image: url(./fondo\ m.png) ;
    background-position: center;
    background-size: cover;
    background-repeat: repeat-y;
    height: 98vh;
    display: flex;
    justify-content: center;
}

div#banner{
    width: 1500px;
    height: 440px;
    background-color: rgb(174, 88, 255);

}

img#img_banner{
    display: block;
    margin: auto;
    width: 1200px;
    max-width: 1200px;
    min-width: 200px;
}
.form-box{
    width: 1000px;
    height: 200px;
    padding: 40px;
    background-color: rgb(208, 108, 255);
    text-align: left;
    position: absolute;
    left: 20px;
    top: 70%;
    border-radius: 24px;
    border-color: rgb(255, 255, 255);


}

.box{
    width: 400px;
    height: 300px;
    padding: 40px;
    background-color: rgb(208, 108, 255);
    text-align:left ;
    position: absolute;
    left: 15px;
    top: 105%;
    border-radius: 24px;
    border-color: rgb(255, 255, 255);

}
.vid{
    position: relative;
    width: 400px;
    height: 230px;
    left: 20px;
    top: 120%;

}